@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre|Quicksand");
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #E43753;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Open Sans, sans-serif !important;
}
img{
  width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  overflow-y: hidden;
}
nav ul li a {
  display: block;
  padding: 0px 40px;
  text-decoration: none;
  color: black;
  transition: background-color 0.4s ease;
}
nav ul li a.active {
  background-color: #E43753;
  color: white;
}
a:hover{
  color: #E43753 !important;
}
section.home {
  text-align: center;
  position: relative;
}
section.aboutMe {
 background-image: url("../img/fondo1.png");
 padding: 5% 0% 13% 0;
 text-align: center;
 position: relative; 
}
section.frase {
 height: 202px;
 color: white;
 background-image: url("../img/perrito.jfif");
 background-size: cover;
 font-size: 280%;
 font-weight: bold;
 position: relative;
}
section.abilities {
 opacity: 0.8;
 padding: 2% 0 48% 0;
 text-align: center;
 background-image: url("../img/laptop3.jfif");
 background-repeat:repeat;
 background-size: cover;
 position: relative;
}
section.project {
 background-color: white;
 position: relative;
 padding: 6% 0 15% 0;
 text-align: center; 
 position: relative;
}
section.contact {
 background-image: url("../img/fondo2.png");
 background-repeat:repeat;
 padding: 13% 0 6% 0;
 text-align: center;
 position: relative;
}
.navBarHome{
  border: none;
}
.navBarHeaderNombre{
  padding-left: 13%;
  padding-right: 13%;
}
.aNombre{
  color: black !important;
  font-family: "Proza Libre", serif;
  padding: 25px 0px;
  font-size: 33px;
}
.tl{
  font-family: "Proza Libre", serif;
  font-size: 67px;
  padding: 4% 2%;
  position: absolute;
  color: white;
  top: 40%;
  background-color: #E43753;
  opacity: 0.8;
}
.aLista{
  color: black !important;
  font-family: "Quicksand", serif;
  font-size: 150%;
  padding: 25px 39px !important;
}
.aboutmeh1{
  padding: 8% 0;
  font-family: "Proza Libre", serif;
  font-size: 58px;
  font-weight: bolder;
  color:#E43753;
  margin-top: -3%;

}
.tlt{
  padding-right: 14%;
  padding-left: 19%;
  font-size: 21px;
  text-align: justify;
  line-height: 171%;
  font-family: "Proza Libre", serif;
}
.transparencia{
  height: 202px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #E43753;
}
.autor{
  right: 0;
  position: absolute;
}
.containerCarusel{
  width: 80%;
  height: auto;
  padding-top: 32%;
  margin-left: 5%;
}
.containerFrase{
  width: 85%;
  padding: 5% 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: right;
  font-family: "Proza Libre", serif;
}
.skills{
  transform: rotate(-20deg);
  font-family: "Quicksand", serif;
  font-weight: bolder !important;
  color:#E43753;
  font-weight: bold;
  position: absolute;
  font-size: 400%;
  margin-top: 30%;
}
.rowskill{
  margin-left: 0 ;
  margin-right: 0;
}
.project{
  font-size: 186%;
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Quicksand", serif;
  color: #E43753;
  font-weight: bolder;
}
.clearfix{
  display: inline-block;
}
.circuloContainer{
  display: block;
  position: absolute;
  width: 75%;
  margin-top: -2%;
  margin-left: 0;
}
.circuloContainerQueries{
  display: none;
}
.circulohtml{
  margin-top: 3%;
  margin-left: 33%;
  position: absolute;
}
.circulocss{
  margin-top: 11%;
  margin-left: 53%;
  position: absolute;
}
.circulojs{
  margin-top: 24%;
  margin-left: 70%;
  position: absolute;
}
.circulojquery{
  margin-top: 48%;
  margin-left: 70%;
  position: absolute;
}
.circulobootstrap{
  margin-top: 61%;
  margin-left: 54%;
  position: absolute;
}
.circulomaterialize{
  margin-top:68%;
  margin-left: 34%;
  position: absolute;
}
.circulogithub{
  margin-top: 61%;
  margin-left: 14%;
  position: absolute;
}
.circulomysql{
  margin-top: 48%;
  margin-left: -2%;
  position: absolute;
}
.circulojava{
  margin-top: 24%;
  margin-left: -2%;
  position: absolute;
}
.circuloingles{
  margin-top: 11%;
  margin-left: 13%;
  position: absolute;
}

.curso{
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 4px black;
  font-family: "Quicksand", serif;
}
.titleContact{
  color:#E43753 ;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-top: -8%;
  padding-bottom: 2%;

}
.contactame{
  font-size: 186%;
  color: white;
  padding-bottom: 9%;
  font-family: "Quicksand", serif;
}
.listaIcono{
  position: relative;
  padding-left: 43%;
  padding-top: 2%;
}
.icon{
  font-size: 68px;
  color: white;
}
.enlace{
  text-decoration: none !important;
  color: white;
  vertical-align: middle;
}
.icon:hover{
  color: #E64862 !important;
}
.containerwork{
    margin-top: 9%;
  }
.navwork{
  position: absolute;
  left: 0;
  right: 0;
  top: 27%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 53%;
  font-weight: normal;
}
.navulista{
  font-size: 200%;
}
.navenlace{
  color: black !important;
  font-family: "Quicksand", serif;
  cursor: pointer;
  font-size: 50%;
}
.caja-imagen img {
  height: 250px;
  transition: all 0.4s linear;
}
.caja-imagen .info {
  opacity: 0.5;
  background-color: #E43753;
  transition: all 0.3s ease-in-out;
  background-size: cover;
}

.caja-imagen h3 {
  transform: translateY(-200px);/*Desplazamos a la izquierda*/
  opacity: 0;
  transition: all 0.7s ease-in-out;
  text-align: center;
}

.caja-imagen p {
  transform: translateY(-200px);/*Desplazamos a la derecha*/
  opacity: 0;
  transition: all 0.4s linear;
  text-align: center;
}

.caja-imagen:hover .info {
  opacity: 1;
}

.caja-imagen:hover h3,.caja-imagen:hover p {
  opacity: 1;
  transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.caja-imagen:hover p {
  transition-delay: 0.1s;
}
.categoria {
  padding: 0 7%;
  font-size: 17px;
  color: #F3A291;
  margin-top: 21%;
  font-weight: bold;
}
.demo,.codigo{
  background-color: #F8F8F8;
  padding: 2%;
  border-radius: 5px;
}
.proyect {
  font-size: 18px;
  color: #F3A291;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18%;

}
p.proyect>a{
  color: #F3A291;
}
p.proyect>a:hover{
  color: #F3A291 !important;
}
.caja {
    overflow: hidden;
    cursor: default;
}
.caja .mascara, .caja .contenido{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.l{
  padding: 0;
  margin: 0;
}

footer{
  text-align: center;
  color:#E43753;
  padding: 1%;
  background-color: black;
}
.enlaces1{
  display: none;
}
.datos{
  color: white;
  font-size: 154%;
  font-family: "Quicksand", serif;
  padding-top: 12%;
}
p>a{
  color: white;
}
p>a:hover{
  color: white !important;
  text-decoration: none;
}
a.descargar{
  font-size: 24px;
  background-color:#E43753;
  padding: 1% 5% 1% 5%;
  border-radius: 5px;
  color: white !important;
  text-decoration: none !important;
}
a.descargar:hover{
  color: white !important;
  text-decoration: underline;
}
a.descargar:link{
  color: white !important;
}
.redes-sociales{
  padding-bottom: 6%;
}


/*Media  queries*/
@media (min-width: 992px) and (max-width: 1024px) {
  section.abilities{
    padding: 2%;
  }
  .navBarHeaderNombre {
    padding-right: 5%;
    padding-left: 7%;
  }
  .aLista{
    font-size: 133%;
    padding: 25px 35px !important;
  }
  .tl{
    top: 38%;
    padding: 2% 0%;
    font-size: 63px;
  }
  .tlt{
    padding-right: 7%;
    padding-left: 11%;
  }
  .circuloContainer{
    display: none;
  }
  .circuloContainerQueries{
    display: block;
    padding-top: 8%;
  }
  .porcentaje{
    display: block;
    padding-top: 3%;
    text-align: right;
  }
  .porcentaje1{
    text-align: left;
  }
  .skills{
    left: 22%;
    top: 0;
    margin: 0;
    transform: inherit;
  }
  .datos{
    padding: 0 0 12% 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.home {
    height: 100vh;
  }
  section.abilities{
    padding: 2%;
  }
  .aNombre{
    font-size: 28px;
  }
  .navBarHeaderNombre {
    padding-left: 3%;
    padding-right: 3%;
  }
  .ul-nav{
    float: right;
  }
  .aLista{
    font-size: 133%;
    padding: 25px 23px !important;
  }
  .tl{
    font-size: 53px;
  }
  .aboutmeh1 {
    font-size: 45px;
  }
  .circuloContainer{
    display: none;
  }
  .circuloContainerQueries{
    display: block;
    padding-top: 8%;
  }
  .containerCarusel {
    width: 65%;
    padding-top: 11%;
    margin-left: auto;
    margin-right: auto;
  }
  .skills{
    font-size: 45px;
    left: 37%;
    top: 0;
    margin: 0;
    transform: inherit;
  }
  .project{
    font-size: 45px;
  }
  .titleContact{
    font-size: 45px;
  }
  .porcentaje{
    padding-bottom: 10%;
  }
  .contactame{
    font-size: 21px;
    padding: 5% 0 12% 0;
  }
  .containerwork {
    width: 70%;
  }
  .datos{
    padding: 0 0 12% 0;
  }

}
@media (min-width: 481px) and (max-width: 767px) {
  section.home {
    height: 100vh;
  }
  section.abilities{
    padding: 2%;
  }
  .navBarHeaderNombre {
    padding: 1% 13% 3% 13%;
  }
  .tl{
    font-size: 44px;
  }
  .aboutmeh1 {
    font-size: 43px;
  }
  .tlt{
    padding: 0 10% 0 11%;
    font-size: 19px;
  }
  .containerCarusel {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .containerFrase {
    width: 93%;
    padding: 11% 0% 0% 7%;
    font-size: 28px;
  }
  .circuloContainer{
    display: none;
  }
  .circuloContainerQueries{
    display: block;
    padding-top: 15%;
  }
  .skills{
    left: 35%;
    top: 0;
    margin: 0;
    font-size: 36px;
    padding: 2%;
    transform: inherit;
  }
  .project{
    font-size: 30px;
  }
  .porcentaje{
    padding: 5% 0;
  }
  .containerwork {
    width: 85%;
    padding:4% 4% 0 4%;
  }
  .contactame{
    font-size: 18px;
  }
  .titleContact {
    font-size: 32px;
    padding: 4% 0;
  }
  .datos{
    font-size: 18px;
    padding: 2% 0 12% 0;
  }
}
@media (max-width: 480px) {
  .navBarHeaderNombre {
    padding: 0 0% 0 7%;
  }
  .aNombre{
    padding-bottom: 13%;
  }
  section.frase{
    padding: 19% 7% 4% 7%
  }
  section.home {
    height: 100vh;
  }
  section.abilities {
    padding: 2%;
  }
  .tl{
    font-size: 43px;
    top: 38%;
  }
  .tlt{
    padding-right: 6%;
    padding-left: 9%;
    font-size: 15px;
  }
  .aboutmeh1 {
    font-size:37px; 
  }
  .containerCarusel {
    width: 100%;
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  .circuloContainer{
    display: none;
  }
  .circuloContainerQueries{
    display: block;
    padding-top: 22%;
  }
  section.frase{
    padding: 17% 4%;
  }
  .containerwork {
    margin-top: 23%;
    padding: 0 10%;
  }
  .datos{
    font-size: 13px;
    padding: 2% 0 17% 0;
  }
  .curso{
    font-size: 17px;
    padding-bottom: 28%;
  }
  .contactame{
    font-size: 15px;
    padding: 7% 2%;
  }
  .project{
    font-size: 30px;
  }
  .skills{
    font-size: 32px;
    left: 27%;
    top: 0;
    margin: 0;
    transform: inherit;
  }
  .categoria{
    margin-top: 15%;
    font-size: 14px;
  }
  .containerFrase {
    width: 100%;
    padding: 0%;
    font-size: 28px;
  }
  .titleContact{
    font-size: 27px;
  }
  a.descargar{
    font-size: 20px;
  }
}

