@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre|Quicksand");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Open Sans, sans-serif !important;
}
nav ul li a {
  display: block;
  padding: 0px 40px;
  text-decoration: none;
  color: black;
  transition: background-color 0.4s ease;
}
nav ul li a.active {
  background-color: #E43753;
  color: white;
}
a:hover{
  color: #E43753 !important;
}
section.home {
  text-align: center;
  overflow-y: hidden;
  position: relative;
}
section.aboutMe {
 background-image: url("../img/fondo1.png");
 padding: 15% 5% 17% 0;
 text-align: center;
 position: relative; 

}
section.frase {
 padding: 8%;
 color: white;
 background-image: url("../img/codigo.jpg");
 background-attachment: fixed;
 background-repeat:no-repeat;
 background-size: cover;
 font-size: 280%;
 font-weight: bold;
}
section.abilities {
 background-color: white;
 padding: 2% 0 48% 0;
 text-align: center;
 background-image: url("../img/fondo3.png");
 background-repeat:repeat;


 position: relative;
}
section.project {
 background-color: white;
 position: relative;
 padding: 6% 0 15% 0;
 text-align: center; 
 position: relative;
}
section.contact {
 background-image: url("../img/fondo2.png");
 background-repeat:repeat;
 padding: 19% 0;
 text-align: center;
 position: relative;
}
.navBarHome{
  border: none;
}
.navBarHeaderNombre{
  padding-left: 13%;
  padding-right: 13%;
}
.aNombre{
  color: black !important;
  font-family: "Proza Libre", serif;
  padding: 25px 0px;
  font-size: 33px;
}
.tl{
  font-family: "Proza Libre", serif;
  font-size: 67px;
  padding: 4% 2%;
  position: absolute;
  color: white;
  margin-top: -376px;
  background-color: #E43753;
  opacity: 0.8;
}
.aLista{
  color: black !important;
  font-family: "Quicksand", serif;
  font-size: 150%;
  padding: 25px 39px !important;
}
.aboutmeh1{
  padding-bottom: 8%;
  font-family: "Proza Libre", serif;
  font-size: 58px;
  font-weight: bolder;
  color:#E43753;
  margin-top: -3%;

}
.tlt{
  padding-right: 14%;
  padding-left: 19%;
  font-size: 21px;
  text-align: justify;
  line-height: 171%;
  font-family: "Proza Libre", serif;
}
.autor{
  float: right;
}
.skills{
  font-family: "Quicksand", serif;
  font-weight: bolder !important;
  color:#E43753;
  font-weight: bold;
  position: absolute;
  font-size: 400%;
  margin-top: 62%;
}
.rowskill{
  margin-left: 0 ;
  margin-right: 0;
}
.project{
  font-size: 186%;
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Quicksand", serif;
  color: #E43753;
  font-weight: bolder;
}
.clearfix{
  display: inline-block;
}
.circuloContainer{
  position: absolute;
  width: 72%;
  margin-top: 0%;
}
.circulohtml{
  margin-top: 3%;
  margin-left: 33%;
  position: absolute;
}
.circulocss{
  margin-top: 11%;
  margin-left: 53%;
  position: absolute;
}
.circulojs{
  margin-top: 24%;
  margin-left: 70%;
  position: absolute;
}
.circulojquery{
  margin-top: 48%;
  margin-left: 70%;
  position: absolute;
}
.circulobootstrap{
  margin-top: 61%;
  margin-left: 54%;
  position: absolute;
}
.circulomaterialize{
  margin-top:68%;
  margin-left: 34%;
  position: absolute;
}
.circulogithub{
  margin-top: 61%;
  margin-left: 14%;
  position: absolute;
}
.circulomysql{
  margin-top: 48%;
  margin-left: -2%;
  position: absolute;
}
.circulojava{
  margin-top: 24%;
  margin-left: -2%;
  position: absolute;
}
.circuloingles{
  margin-top: 11%;
  margin-left: 13%;
  position: absolute;
}

.curso{
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Quicksand", serif;
}
.titleContact{
  color:#E43753 ;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-top: -8%;
  padding-bottom: 2%;

}
.contactame{
  font-size: 186%;
  color: white;
  padding-bottom: 9%;
  font-family: "Quicksand", serif;
}
.listaIcono{
  position: relative;
  padding-left: 43%;
  padding-top: 2%;
}
.icon{
  font-size: 68px;
  color: white;
}
.enlace{
  text-decoration: none !important;
  color: white;
  vertical-align: middle;
}
.icon:hover{
  color: #E64862 !important;
}
.containerwork{
    margin-top: 9%;
  }
.navwork{
  position: absolute;
  left: 0;
  right: 0;
  top: 27%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 53%;
  font-weight: normal;
}
.navulista{
  font-size: 200%;
}
.navenlace{
  color: black !important;
  font-family: "Quicksand", serif;
  cursor: pointer;
  font-size: 50%;
}
.caja-imagen img {
transition: all 0.4s linear;
}
.caja-imagen .info {
opacity: 0.5;
background-color: #E43753;
transition: all 0.3s ease-in-out;
background-size: cover;
}

.caja-imagen h3 {
transform: translateY(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
text-align: center;
}

.caja-imagen p {
transform: translateY(-200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
text-align: center;
}

.caja-imagen:hover .info {
opacity: 1;
}

.caja-imagen:hover h3,
.caja-imagen:hover p {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.caja-imagen:hover p {
transition-delay: 0.1s;
}
.categoria {
  font-size: 21px;
  color: #F3A291;
  margin-top: 21%;
  font-weight: bold;
}
.proyect {
    font-size: 25px;
    color: white;
    margin-top: 3%;
}
.caja {
    overflow: hidden;
    cursor: default;
}
.caja .mascara, .caja .contenido{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.l{
  padding: 0;
  margin: 0;
}

footer{
  text-align: center;
  color:#E43753;
  padding: 1%;
  background-color: black;
}
.enlaces1{
  display: none;
}
.datos{
  color: white;
  font-size: 154%;
  font-family: "Quicksand", serif;
  padding-top: 12%;
}
p>a{
  color: white;
}
p>a:hover{
  color: white !important;
  text-decoration: none;
}
.descargar{
  font-size: 24px;
  background-color:#E43753;
  padding: 1% 5% 1% 5%;
  border-radius: 5px;
  color: white;
}
.descargar:hover{
  color: white !important;
  text-decoration: underline;
}
.redes-sociales{
  padding-bottom: 12%;
}


/*Media  queries*/
@media (min-width: 992px) and (max-width: 1199px) {
  .aLista{
    font-size: 133%;
    padding: 25px 35px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.home {
    height: 93vh;
  }
  .tl{
    font-size: 53px;
    bottom: 25%;
  }
  .aLista{
    font-size: 131%;
    padding: 25px 14px !important;
  }

}
@media (max-width: 767px) {
  section.home {
    height: 66vh;
  }
  .tl{
    font-size: 44px;
    bottom: 24%;
  }
}
@media (max-width: 480px) {
  .aNombre{
    padding-bottom: 13%;
  }
  section.home {
    height: 60vh;
  }
  .tl{
    font-size: 37px;
    bottom: 29%;
  }
  .tlt{
    padding-right: 6%;
    padding-left: 11%;
    font-size: 19px;
  }
  .circuloContainer{
    display: none;
  }
  .colFoto{
    padding: 6% 5% 0 10%;
  }
  section.frase{
    padding: 14%;
  }
  .containerwork {
    margin-top: 23%;
    padding: 0 10%;
  }
  .datos{
    padding: 0 0 17% 0;
  }

}

