.b-about-me .b-about-img-box  {
  border-radius: 50%;
  height: 220px;
  text-align: center;
  width: 50%;
}

.b-about-me .b-about-me-box {
  align-items: center;
  margin: auto;
  max-width: 1280px;
  padding-bottom: 100px;
}

.b-about-me .b-about-me-text {
  color: #FFFFFF;
  height: fit-content;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: justify;
  width: 50%;
}
.b-about-me-text .b-title-item {
  padding-bottom: 45px;
  text-align: left;
}

.b-about-me .b-about-me-text span {
  display: inline-block;
}

.b-about-me .b-about-img-box img {
  border-radius: 10px;
}

@media (max-width: 991px) {
  .b-about-me .b-about-me-box {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .b-about-me .b-about-me-text {
    width: 80%;
  }

  .b-about-me .b-about-img-box {
    width: 100%;
  }
}